[Desktop Entry]
Encoding=UTF-8
Name=HTS
Comment=HTS P2P Cryptocurrency
Comment[fr]=HTS, monnaie virtuelle cryptographique pair à pair
Comment[tr]=HTS, eşten eşe kriptografik sanal para birimi
Exec=HTS-qt %u
Terminal=false
Type=Application
Icon=HTS128
MimeType=x-scheme-handler/HTS;
Categories=Office;Finance;
