
## <summary>policy for HTS</summary>


########################################
## <summary>
##	Transition to HTS.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`HTS_domtrans',`
	gen_require(`
		type HTS_t, HTS_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, HTS_exec_t, HTS_t)
')


########################################
## <summary>
##	Execute HTS server in the HTS domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`HTS_initrc_domtrans',`
	gen_require(`
		type HTS_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, HTS_initrc_exec_t)
')


########################################
## <summary>
##	Search HTS lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`HTS_search_lib',`
	gen_require(`
		type HTS_var_lib_t;
	')

	allow $1 HTS_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read HTS lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`HTS_read_lib_files',`
	gen_require(`
		type HTS_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, HTS_var_lib_t, HTS_var_lib_t)
')

########################################
## <summary>
##	Manage HTS lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`HTS_manage_lib_files',`
	gen_require(`
		type HTS_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, HTS_var_lib_t, HTS_var_lib_t)
')

########################################
## <summary>
##	Manage HTS lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`HTS_manage_lib_dirs',`
	gen_require(`
		type HTS_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, HTS_var_lib_t, HTS_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	an HTS environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`HTS_admin',`
	gen_require(`
		type HTS_t;
		type HTS_initrc_exec_t;
		type HTS_var_lib_t;
	')

	allow $1 HTS_t:process { ptrace signal_perms };
	ps_process_pattern($1, HTS_t)

	HTS_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 HTS_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, HTS_var_lib_t)

')

